
#nav-bar-wrapper{
	display: none;
}

.indepth_share{
	position: fixed;
	right: 5px;
	bottom: 20px;
	z-index: 2000;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;	
	visibility: visible;
}


.indepth_share_item{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 20px ;
	margin-left: 7px;
	cursor: pointer;
	margin-bottom: 5px;
}

.indepth_share_item.facebook{
	background-image: url(../images/boton_facebook.png);
}

.indepth_share_item.facebook:hover{
	background-color: #3660A4;
}

.indepth_share_item.twitter{
	background-image: url(../images/boton_twitter.png);
}

.indepth_share_item.twitter:hover{
	background-color: #02B2F7;
}

.indepth_share_item.whatsapp{
	display: none;
	background-image: url(../images/boton_whatsapp.png);
}

.indepth_share_item.whatsapp:hover{
	background-color: #85D86D;
}


#indepth_tarjeta_pais{
	display: none;
}

.indepth_pages{
	width: 100%;
	min-width: 960px;
	position: relative;
	overflow: hidden;
	background-color: white;
	font-family: 'Roboto';
	font-size: 19px;
	margin: auto;
}

.indepth_page{
	width: 100%;
	min-width: 960px;
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: auto;
}

.indepth_page_content{
	background-color:  white;
	position: relative;
}

#com{
	background: white;
}

.indepth_page_body{
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 810px;
	z-index: 2;
}

#indepth_cover{
	height: 757px;
	background: #141414;
}

#indepth_cover .indepth_page_body{
	position: relative;
	display: table;
}

#indepth_cover .indepth_titlle_container{
	float: left;
	width: 707px;
	 color: #FFF;
}

 #indepth_ver_texto{
	display: inline-block;
	padding: 3px 15px;
	 background-color: rgba(0,0,0,0.25);
	 border: 1px solid #FFF;
	 color: #FFF;
	 margin-top: 12px;
	 cursor: pointer;
	 font-weight: 500;
	 font-size: 10px;
	 border-radius: 5px;
	 text-align: center;
}

#indepth_ver_texto:hover{
	background-color: rgba(233,233,233,0.15);
}

#indepth_cover .indepth_parallax_back{
	background-image: url(../images/portada.jpg);
	background-position: 50% 50%;
	background-color: white;
	background-size: cover;
}


#indepth_cover .indepth_title{
	font-size:39px;
	color:#FFF;
	text-transform: uppercase;
	font-weight: 700;
}

#indepth_cover .indepth_subtitle{
	font-size:17px;
	color:#FFF;
	font-weight: 400;
}


/****social*****/
.indepth_home-element-social div{
	float: left;
	margin-top: 3px;
	margin-left: 6px;
}

.indepth_home-element-social{
	width: 160px;
	margin: 15px auto;
	height: 30px;
}

/**********************/

.indepth_page_content .indepth_page_body{
	padding: 60px 0;
	position: relative;
}

.indepth_page_content .indepth_container{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.indepth_page_content .indepth_title{
	font-size:34px;   /* tamaño */
	font-family: 'Roboto', sans-serif; /* fuente */
	font-weight: 600;
	text-transform: uppercase; /* comentar para quitar mayusculas */
	text-align: center; /* ajustar alineacion (justify, left, right o center) */	
	color: #000;
}

.indepth_page_content .indepth_subtitle{
	font-size:22px;   /* tamaño */
	font-family: 'Roboto', sans-serif; /* fuente */
	font-weight: 400;
	text-transform: uppercase; /* comentar para quitar mayusculas */
	text-align: center; /* ajustar alineacion (justify, left, right o center) */	
	color: #000;
}

.indepth_page_content .indepth_text{
	color: #535252; /* color de la fuente*/
	text-align:justify; /* ajustar alineacion (justify, left, right o center) */
	font-weight: 300;
	font-size: 1em;
}

#indepth_tabla_paises{
		display: none;
	}

#indepth_footer{
	background-color: #F8F8F8;
	border-top: 1px solid #8A8A8A;
	border-bottom: 1px solid #8A8A8A;
	padding: 15px 0px;
	display: inline-block;
	vertical-align: middle;
}

#indepth_footer .indepth_text{
	font-size:17px;
	color: #8A8A8A;
	text-align:center;
}

#indepth_footer .indepth_page_body{
	position: relative;
}

#indepth_footer .Copyright{
		float: left;
		text-align: center;
		width: 100%;
}

.indepth_break{
		height: 800px;
}

.indepth_break .indepth_page_body{
	height: 100%;
	background-size: cover;
	top: 0px;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0px;

}

.indepth_break .indepth_text_container{
		height: 100%; /* */
		display: table;
		background-color: rgba(149, 149, 149, 0.4);
	padding: 0 30px;
}

.indepth_break .indepth_text{
	font-size:28px;
	font-weight: 400;
	line-height: 28px;
	color: #fff; /* color de la fuente*/
	max-width:400px;
	display: table-cell;
	vertical-align: middle;		
	text-align: center;	
}

.indepth_break .indepth_title{
	font-size:56px;
	text-transform: uppercase;
	font-weight: 700;
}


.indepth_parallax_back {
	height: 100%;
	background-size: cover;
	background-color: #000;
	top: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}



/****DINAMICO****/

.st0{fill:none;stroke:#7D7D7D;stroke-width:3;}
.st1{fill:none;}
.st2{fill:#FFFFFF;}

#indepth_mapa{
	width: 1024px;
	height: auto;
	margin: auto;
	display: table;
}

#indepth_mapa svg{
	width: 100%;
}

#indepth_page2{
	background-color: #191718;
	background-image: url(../images/Cuadros.svg);
	background-repeat: no-repeat;
	background-size: 1400px auto;
	background-position: center center;
	padding: 80px 0px;
}

#indepth_tabla_mapa{
	width: 810px;
	height: 130px;
	margin: auto;
	display: table;
	border-top: 3px solid white;
	padding-top: 15px;
	
	
}

.indepth_tabla_head{
	background-color: #1c1c1c;
	color: #ffffff;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #c1c1c1;
	border-top: 1px solid #c1c1c1;
}

.indepth_tabla_head_item{
	float: left;
	height: 100%;
	display: table;
	text-align: center;
	font-size: 14px;
	
}

#indepth_pais_text{
	font-size: 12px;
}

#actos_text{
	font-size: 13px;
}

.indepth_tabla_head_item_in{
	display: table-cell;
	vertical-align: middle;
	padding: 0 20px;
}

.pais_title{
	width: 107px;
	border-right: 1px solid #fff;
}

.actos_title{
	width: 220px;
	border-right: 1px solid #fff;
}

.involucrados{
	width: 245px;
	border-right: 1px solid #fff;
	padding: 0;
}

.dinero{
	width: 230px;
}

.indepth_tabla_cont{
	height: 180px;
	color: white;
	text-align: center;
	font-size: 12px;
}

#indepth_pais_logo{
	width: 50px;
	height: 50px;
	margin: auto;
	margin-bottom: 5px;
}

#indepth_pais_logo img{
	width: 100%;
}

#actos_text{
}

circle{
	cursor: pointer;
}

circle:hover{
	fill:red;
}

.indepth_inv_cont{
	display: table;
	margin: auto;
}

.inv2 .indepth_inv_item{
	width: 100px;
	padding: 0 5px;
}



.indepth_inv_item{
	float: left;
}

.inv4 {
}

.inv4 .indepth_inv_item{
	padding: 5px;
	width: 100px;
	height: 70px;
}

.inv4 .indepth_inv_item img{
	width: 40%;
	
}

.indepth_inv_item img{
	width: 100%;
	height: auto;
}

.involucrados .indepth_tabla_head_item_in{
	padding: 0;
}

.indepth_inv_text{
	margin-top: 5px;
	height: 32px;
}

.inv4 .indepth_inv_text{
	margin-top: 3px;
}

#indepth_cover .indepth_title{
	font-size:40px;
	color:#FFF;
	text-transform: uppercase;
	font-weight: 700;
	float: left;
	color: white;
}

#indepth_cover .indepth_subtitle{
	font-size:25px;
	color:#FFF;
	font-weight: 400;
	margin-left: 20px;
	letter-spacing: 1.7656px;
	text-transform: uppercase;
	margin-top: 5px;
}

#indepth_cover .indepth_titlle_container {
  float: left;
  color: #FFF;
  width: 800px;
}

#indepth_cover .indepth_cover_back_body {
  position: absolute;
  bottom: 5%;
  background: rgba(56, 63, 66, 0.56);
  padding: 20px 0;
  padding: 10px 35px;
  margin-left: 2%;
}



#indepth_break_1 .indepth_parallax_back{
	background-image: url(../images/break1.jpg)
}

#indepth_break_2 .indepth_parallax_back{
	background-image: url(../images/break2.jpg);
}

.indepth_tabla_title{
		color: white;
		text-transform: uppercase;
		font-size: 28px;
		margin: auto;
		text-align: center;
		border-bottom: 3px solid white;
		display: table;
		padding: 3px 10px;
	}

@media screen and (min-width: 1920px) {
	#indepth_libros_container{
		width: 1920px;
		margin: auto;
	}
}

@media screen and (min-width: 2341px) {
	#indepth_footer .indepth_text{
		text-align:left;
		margin-left: -300px;
	}
}

/* mobile adecuations */

@media screen and (max-width: 1960px) {
	min-width: 800px;
}

/*** Movil ****/

@media screen and (max-width:1023px) {
	body{
		width: 100%;
		min-width: 0px;
	}
}

@media screen and (max-width: 800px) {


	.indepth_pages{
		width: 100%;
		max-width: 800px;	
		min-width: 0px;
	}

	.indepth_page{
		min-width: 0px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	
	.indepth_page_body{
		width:95%;
		margin: 0 auto;
	}
	
	#indepth_cover .indepth_titlle_container {
		width: 100%;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-size: auto 800px;
		background-position: 50% 0;
	}
	
	.indepth_inv_item{
		display: block;
	}
	
	#indepth_mapa{
		width: 100%;
	}
	
	#indepth_tabla_mapa{
		width: 700px;
	}
	
	.pais_title{
		width: 80px;
	}
	
	.actos_title{
		width: 200px;
	}
	
	.involucrados{
		width: 200px;
	}
	
	.dinero{
		width: 200px;
	}
	
	.indepth_tabla_head_item_in{
		  padding: 0 5px
	}
	
	.inv2 .indepth_inv_item {
	  width: 80px;
	  padding: 0 5px;
	}
	
	.inv4 .indepth_inv_item {
		  padding: 5px;
		  width: 90px;
		}
	
	.indepth_page_infografia img{
		width: 640px;
	}

	#info_controls img{
		width: 100%;
	}
	
	/*** dinamico **/
	.indepth_break{
		max-height: 700px;
	}
	
	

}

@media screen and (max-width: 700px) {

	.indepth_cover_back_body{
		display: block;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-image: url(../images/mobile.jpg);
	}
	
	#indepth_cover .indepth_parallax_back{
		background-size: 100% auto;
		background-position: 50% 50%;
	}
	
	#indepth_tabla_mapa , #indepth_mapa{
		display: none;
	}
	
	#indepth_tabla_paises{
		display: table;
		width: 100%;
	}
	
	.indepth_tabla_title{
		color: white;
		text-transform: uppercase;
		font-size: 24px;
		margin: auto;
		text-align: center;
		border-bottom: 3px solid white;
		display: table;
		padding: 3px 10px;
	}
	
	.indepth_tabla_title span{
		color: #c1c1c1;
	}
	
	#indepth_tabla_paises_cont{
		display: table;
		width: 310px;
		margin: 20px auto;
		position: relative;
	}
	
	.indepth_tabla_paises_item{
		width: 150px;
		padding: 2.5px;
		height: 60px;
		float: left;
		margin-bottom: 20px;
	}
	
	.indepth_logo_pais{
		float: left;
		width: 50px;
		height: 50px;
	}
	
	.indepth_logo_pais img{
		width: 100%;
	}
	
	.indepth_tabla_pais_nombre{
		height: 50px;
		display: table;
		max-width: 90px;
		
	}
	
	.indepth_tabla_pais_nombre_in{
		display: table-cell;
		vertical-align: middle;
		color: white;
		padding: 0 7px;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	#indepth_tarjeta_pais{
		background: black;
		position: fixed;
		left: 0;
		top: 0;
		display: none;
		z-index: 3000;
	}
	
	#indepth_page2{
		position: relative;
		z-index: 2000;
	}
	
	.indepth_tarjeta_cont{
		width: 320px;
		height: 100%;
		margin: auto;
		display: table;
	}
	
	.indepth_tarjeta_cont_in{
		display: table-cell;
		vertical-align: middle;
	}
	
	.indepth_tarjeta_head{
		display: table;
	}
	
	
	
	#indepth_tarjeta_pais_logo{
		width: 60px;
		height: 40px;
		float: left;
	}
	
	#indepth_tarjeta_pais_logo img{
		width: 100%;
	}
	
	#indepth_tarjeta_pais_nombre{
		color: white;
		float: left;
		height: 40px;
		width: 220px;
		line-height: 40px;
		margin-left: 10px;
		border-bottom: 1px solid white;
		
	}
	.indepth_tarjeta_x{
		width: 30px;
		height: 40px;
		background-image: url(../images/mapa_equis.svg);
		background-position: left top;
		background-repeat: no-repeat;
		float: right;
		border-bottom: 1px solid white;
		background-size: 90%;
	}
	
	.indepth_tarjeta_involucrados{
		width: 100%;
		height: 180px;
		display: table;
	}
	
	.indepth_tarjeta_involucrado_in{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	.indepth_inv_cont{
		color: white;
	}
	
	.inv2 .indepth_inv_item {
	  width: 100px;
	  padding: 0 10px;
	  color: white;
	}
	
	.indepth_inv_item{
		float: left;
		color: white;
	}
	
	.inv4 .indepth_inv_item img{
		width: 40%;
	}
	
	.inv4 .indepth_inv_item{
		width: 120px;
	}
	
	.indepth_inv_text{
		font-size: 12px;
	}
	
	.indepth_tarjeta_actos{
		height: 120px;
		width: 100%;
		border-bottom: 1px solid white;
		border-top: 1px solid white;
		padding: 10px 0px;
		color: white;
		text-align: center;
	}
	
	.indepth_actos_title{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		padding: 0 10px;
	}
	
	.indepth_actos_text{
		font-size: 14px;
		margin-top: 5px;
		padding: 0 15px;
	}
	
	.indepth_tarjeta_fleachas{
		width: 80%;
		margin: 10px auto;
		height: 30px;
		
	}
	
	.indepth_flecha_izq{
		width: 30px;
		height: 100%;
		float: left;
		background-image: url(../images/flecha_izquierda.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.indepth_flecha_der{
		width: 30px;
		height: 100%;
		float: right;
		background-repeat: no-repeat;
		background-image: url(../images/flecha_derecha.svg);
		background-position: center center;
	}
	
	#tarjeta_dinero{
		height: 60px;
	}
	
	.indepth_inv_cont.inv4{
		width: 260px;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-size: auto 100%;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-image: url(../images/mobile.jpg);
	}
}

@media screen and (max-width: 605px) {
	.indepth_media_cont{
	width:300px;display:table;margin:auto;margin-bottom:20px;margin-top: 20px;
	}

	.indepth_quote_side{
		font-size:21px;width:100%;margin:0px;margin-bottom: 15px;padding: 0px;
		float: left;
	}
	
	


.indepth_image_side{
	width:100%;margin:0px;
	float: left;
}

.indepth_image_side img{
	width: 100%;
}



	
	#indepth_cover{
		height: 650px;
	}
	
	
	
		
	
	
	.indepth_parallax_back{
		background-attachment: initial;
	}
	


}

@media screen and (max-width: 414px) {

	#indepth_cover{
		height: 540px;	
	}
	
	.indepth_share_item.whatsapp{
		display: table;
	}
	
	#indepth_break_1 .indepth_parallax_back{
	background-image: url(../images/break1_m.jpg)
}

#indepth_break_2 .indepth_parallax_back{
	background-image: url(../images/break2_m.jpg);
}

	
	#indepth_cover .indepth_title{
		width: 100%;
		font-size: 26px;
		margin-top: 0px;
	}
	

	
	.indepth_break {
		height: auto;
		width: 100%;
		height: 380px;
	}
	
	.indepth_break .indepth_parallax_back {
		background-size: auto 100%;
	}
	.indepth_break .indepth_parallax_back .indepth_text_container{
		padding: 10px 10px;
		float: left;
	}
	
		#indepth_cover .indepth_title{
		width: 98%;
		font-size: 20px;
		margin: auto;
		margin-top: 0px;
		max-width: 90%;
		float: none;
		text-align: left;
	}
	
	#indepth_cover .indepth_subtitle{
		float: none;
		text-align: center;
		width: 95%;
		max-width: 320px;
		font-size: 14px;
	}
	
	#indepth_cover .indepth_cover_back_body{
	bottom: 7%;
	padding: 20px 0;
	width: 97%;
	padding: 3px 5px;
	margin-left: 10px;
	margin: auto;
}
	
	}
	
@media screen and (max-width: 360px) {

	
	#indepth_break_2 .indepth_text_container{
		background-color: rgba(149, 149, 149, 0.7);
}
}

@media screen and (max-height: 800px) {
	
#indepth_mapa{
	width: 800px;
}

}

@media screen and (max-height: 750px) {
	
#indepth_mapa{
	width: 700px;
}

}

@media screen and (max-width: 736px) and (max-height: 414px){
	#indepth_cover .indepth_parallax_back{
		background-size: auto 400px;
	}
}

@media screen and (max-width: 1024px) and (max-height: 768px){
	.indepth_parallax_back{
		background-attachment: initial;
	}
	
}

@media screen and (max-height: 1024px) and (max-width: 768px){

}
